@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s ;
    z-index: 9999999999;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}
.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #d30e00;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content   {
    text-align: center;
}

.logo {
    width : 500px;
    padding : 0px;
}

.content h2 {
    font-size: 95px;
    color: #fff;
    margin-bottom: 0%;

}
.content h3 {
    font-size: 95px;
    color: #fff;
    margin-bottom: 0%;
    margin-top: none;

}

.content a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.content a:hover {
    background-color: #d00505;
    color: #fff;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;

    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }    
}
